# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv/
.env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Application Data / Outputs
/runs/
/datasets/
/exported_datasets/
/temp/
*.pt
*.onnx
*.engine
modeltrainer_*/  # temp frame directories from media import

# System
.DS_Store
Thumbs.db

# Misc
.env
.claude
test videos/
Trained Models/
dataset/
test/
